@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.scrollingText{
    padding: 1rem;
    max-width: 64rem;
    margin: 0 auto;
    .scrollingText__container{
        width: 100%;
        overflow: hidden;
    }
    .scrollingText__text{
        white-space: nowrap;
        animation: marquee 25s linear infinite;
    }
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.containerHome{
    max-width: 1360px;
    padding: 1rem;
    margin: auto;
}

/** section welcome **/
.sectionWelcomeNiveles{
    display: grid;
    grid-template-columns: 23rem 1fr;
    grid-gap: 5.7rem;
    align-items: center;
    .sectionWelcomeNiveles__gridNiveles{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
    }
    .sectionWelcomeNiveles__itemNivel{
        box-shadow: 0 5px 14px rgb(0 0 0 / 23%);
    }
    .sectionWelcomeNiveles__blockWelcome{
        background: linear-gradient(4deg, rgb(209 178 239) 0%, rgba(255,255,255,1) 88%);
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        border: 5px solid white;
    }
}


/** cctegorias card **/
.categorias{
    .categorias__nameCat{
        border-bottom: 1px solid #d3d4d5;
        align-items: center;
    }
    .categorias__grid{
        /*@apply flex flex-row gap-x-6 pb-2*/
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 1.5rem;
    }
    .categorias__card{
        @apply relative w-64 h-full flex flex-col rounded-2xl bg-white cursor-pointer shadow-lg text-sm transition-transform transform scale-100 hover:scale-105
    }
    .categorias__imageFondo{
        height: 6rem;
        overflow: hidden;
        object-fit: cover;
        object-position: top;
    }
}

@media screen and (max-width: 1500px) {
    .containerHome{
        max-width: 1260px;
    }
    .categorias{
        .categorias__grid{
            grid-template-columns: repeat(4,1fr);
        }
    }
}
@media screen and (max-width: 1290px) {
    .containerHome{
        max-width: 100%;
        padding: 1rem 2rem;
    }
}
@media screen and (max-width: 1190px) {
    .categorias{
        .categorias__grid{
            grid-template-columns: repeat(3,1fr);
        }
    }
}
@media screen and (max-width: 1025px) {
    .sectionWelcomeNiveles{
        grid-template-columns:1fr;
        grid-gap: 1.5rem;
    }
    .scrollingText{
        max-width: 94%;
    }
}
@media screen and (max-width: 870px) {
    .categorias{
        .categorias__grid{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .sectionWelcomeNiveles__gridNiveles{
        grid-gap: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .categorias{
        .categorias__grid{
            grid-template-columns: 1fr;
        }
    }
    .sectionWelcomeNiveles .sectionWelcomeNiveles__gridNiveles {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 470px) {
    .sectionWelcomeNiveles .sectionWelcomeNiveles__gridNiveles {
        grid-template-columns: 1fr;
    }
    .categorias .categorias__card {
        width: 100%;
    }
    .containerHome{
        padding: 1rem;
    }
}

